body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  border-bottom: 2px solid #e1f5ff;
  background: aliceblue;
}

img {
  width: 150px;
  margin: auto;
  position: relative;
  display: block;
}

main {
  width: 500px;
  margin: 50px auto;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 10px;
}

.title {
  padding: 0;
  margin-bottom: 10px;
  background: #fff;
}

.patient {
  padding: 10px 20px;
  margin: 10px auto;
}

.patient-name,
.patient-joined,
.patient-last-visit,
.patient-completed {
  margin: 0;
}
